<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{province.title}">省份疫情情况</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
    <script type="text/javascript" th:src="@{/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/echarts/china.js}"></script>
</head>
<body class="container">
<div class="text-center">
    <h2 class="text-center" th:text="#{province.title}">省内疫情情况</h2>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th th:text="#{list.table.thead1}">地区</th>
            <th th:text="#{list.table.thead2}">新增</th>
            <th th:text="#{list.table.thead3}">现有</th>
            <th th:text="#{list.table.thead4}">累计</th>
            <th th:text="#{list.table.thead5}">治愈</th>
            <th th:text="#{list.table.thead6}">死亡</th>
            <th th:text="#{list.table.thead7}">更新时间</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bean:${list}">
            <td th:text="${bean.cityName}">name</td>
            <td th:text="${bean.confirmAdd}">confirmAdd</td>
            <td th:text="${bean.nowConfirm}">nowConfirm</td>
            <td th:text="${bean.confirm}">confirm</td>
            <td th:text="${bean.heal}">heal</td>
            <td th:text="${bean.dead}">dead</td>
            <td th:text="${bean.updateTime}">updateTime</td>
        </tr>
    </tbody>
</table>
<div id="city_graph" style="width: 600px;height: 400px"></div>
<script th:inline="javascript">
    var myChart = echarts.init(document.getElementById('city_graph'));

    var dateStr = [[${dateList}]];
    var confirmStr = [[${confirmList}]];
    var healStr = [[${healList}]];
    var deadStr = [[${deadList}]];
    var confirmAddStr = [[${confirmAddList}]];
    var confirm = [[#{map.confirm}]];
    var heal = [[#{line.heal}]];
    var dead = [[#{line.dead}]];
    var addConfirm = [[#{line.addConfirm}]]
    var lineTitle = [[#{line.provinceTitle}]]
    option = {
        //提示框
        tooltip: {
            trigger: 'axis'
        },
        title: {
            text: lineTitle
        },
        legend: {
            top: '6%',
            data: [confirm, heal, dead,addConfirm]
        },
        xAxis: {
            data: JSON.parse(dateStr)
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: confirm,
                type: 'line',
                data: JSON.parse(confirmStr)
            },
            {
                name: heal,
                type: 'line',
                data: JSON.parse(healStr)
            },
            {
                name: dead,
                type: 'line',
                data: JSON.parse(deadStr)
            },
            {
                name: addConfirm,
                type: 'line',
                data: JSON.parse(confirmAddStr)
            }
        ]
    };
    myChart.setOption(option);
</script>

<div id="city_map" style="width: 1000px;height: 800px"></div>
<script th:inline="javascript">
    var city_map = echarts.init(document.getElementById('city_map'));

    var confirmData = [[${confirmMap}]];
    var nowConfirmData = [[${nowConfirmMap}]];
    var mapConfirm = [[#{map.confirm}]];
    var mapNowConfirm = [[#{map.nowConfirm}]];

    mapOption = {
        title:{
            text:'疫情地图'
        },
        tooltip:{
            trigger: 'item'
        },
        legend:{
            left: 'left',
            top: '6%',
            data: [mapConfirm,mapNowConfirm],
            selected:{
                '累计确诊':false,
                '现有确诊':true
            }
        },
        //根据数值范围渲染颜色的组件
        visualMap: {
            type: 'piecewise',
            pieces: [
                {min:1000,max:100000000,label:'1000人以上',color:'#ff2736'},
                {min:500,max:999,label:'500-999人',color:'#ff6341'},
                {min:100,max:499,label:'100-499人',color:'#ffa577'},
                {min:10,max:99,label:'10-99人',color:'#ffcea0'},
                {min:1,max:9,label:'1-9人',color:'#e2ebf4'},
                {min:0,max:0,label:'0人',color:'rgb(255, 255, 255)'}
            ],
            calculable:true
        },
        //右侧的展示数据，保存图片等工具
        toolbox:{
            show:true,
            orient:'vertical',
            left:'right',
            top:'center',
            feature:{
                mark:{show:true},
                dataView:{show:true,readOnly:false},
                restore:{show:true},
                saveAsImage:{show:true}
            }
        },
        series: [
            {
                name:'现有确诊',
                type:'map',
                mapType:''
            }
        ]
    }
</script>
</body>
</html>